/* Fonts */
@font-face {
  font-family: "iransans";
  src: url("iransans.woff");
}
/* all */
* {
  font-family: "iransans";
}
html,
body {
  height: 100%;
}
/* Hide show result nav */
.showResult {
  display: none !important;
}
